/****************************** Text field CSS **********************************/

.textfield{
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:13px;
}

.textfield:focused{
    -fx-border-width:0px 0px 1px 0px;
}

#txtTienThoi{
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:17px;
}

#txtTienThoi:focused{
    -fx-border-width:0px 0px 1px 0px;
}

/****************************** Button CSS *************************************/

.button{
    -fx-background-color:#2E8BC0;
    -fx-background-radius:8;
}
.button:hover{
    -fx-background-color:#60A3D9;
}
.btnThem{
    -fx-background-color:transparent;
    -fx-background-radius:8;
}
.btnThem:hover{
    -fx-background-color:#60A3D9;
}

/********************************* DatePicker CSS ***************************************/
* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;

	-fx-focus-color: -fx-secondary-color;
}
.date-picker{
    -fx-background-color:transparent;
}
.date-picker > .text-field {
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:13px;
}
.date-picker > .text-field:focused {
    -fx-border-width:0px 0px 1px 0px;
}
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color:  white;
}
.date-picker .cell:hover {
	-fx-background-color: #007acc;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

/*************************************** Combo-box CSS ********************************************/
.combo-box{
    -fx-background-color:transparent;
    -fx-border-color:#fff;
    -fx-text-inner-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:13px;
}
.combo-box:focused{
    -fx-border-width:0px 0px 1px 0px;
}
.combo-box .cell:selected {
    -fx-text-fill: #fff;
}
.combo-box-popup .list-view
{
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.combo-box .arrow{
    -fx-background-color: white;
}

/****************************************** Table view CSS **********************************************/
.table-view{
   -fx-background-color:  #0c4ca3;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #1c93e8;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .cell{
  -fx-alignment: CENTER;
  -fx-text-fill: black;
  -fx-padding: 3px 0 3px 0;
}
.table-row-cell:odd {
    -fx-background-color: #aad0f0;
}

.table-row-cell:even {
    -fx-background-color: #6cb1eb;
}

.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell: hover .text{
     -fx-fill: white;
}
.table-row-cell: selected {
    -fx-background-color: #93f9b911;
}
.table-row-cell: selected .text{
     -fx-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .column-header-background .filler {
    -fx-opacity: 0;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(159, 214, 252, 10);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/******************************************* Scrollpane CSS ************************************************************/
.scroll-pane > .viewport{
    -fx-background-color: #0c4ca3;
    -fx-border-color: transparent;
}
.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#0c4ca3;
}

.increment-button, .decrement-button {
    -fx-background-color: #0c4ca3;
    -fx-border-color: #0c4ca3;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #0c4ca3;
    -fx-border-color: #0c4ca3;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 5em;
}

#btnShowPassword{
    -fx-background-color: transparent;
}

#btnShowPassword:hover .icons{
    -fx-fill: rgba(255,255,255, 1);
}
